
 {{#if posts}}
{{!-- If there posts then it will display all of them on the homepage --}}
{{#each posts}}
{{> home-display}}
{{/each}}
{{!-- If it's empty then a button will appear that will give the user the option to create one --}}
{{else}}
<div class="d-grid gap-2 col-3 mx-auto">

<button class="btn btn-primary my-5 btn-lg" 
  onclick="location.href='/create'" 
  >Add a Post</button>
  </div>
       
</div>
 {{/if}}



