
{{!-- This is the form that logs the user in --}}
<div class="card my-5">
  <div class="card-header p-3 bg-dark">
  <h2>Login</h2>
  </div>
  <div class="card-body">
  <div class="row justify-content-center">
  <div class="col-md-6">
    <form class="form login-form ">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary my-5 btn-lg"  type="submit">Login</button>
        <a class= "mx-auto my-1" href="/signup">Create an account</a>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
{{!-- The js logic that takes the user inputs and makes an api request to verify credentials --}}
<script src="./js/login.js"></script>
